<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/pause-menu.css">
    <title>Menú de pausa</title>
</head>
<body>


    <div class="container">
        <div class="content">
            <ul>
                <li><a href="">Reanudar</a></li>
                <li><a href="../views/game-configuration.html">Configuración</a></li>
                <li><a href="../views/puntuaciones.html">Puntuaciones</a></li>
                <li><a id="btnExit" href="#">Salir</a></li>
            </ul>
        </div>
    </div>

    <script>
        let btnExit = document.getElementById("btnExit");
        btnExit.addEventListener('click',()=>{
            alert("¿Deseas abandonar la partida?");
        })
    </script>



    
</body>
</html>