<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/puntuaciones.css">
    <title>Puntuaciones</title>
</head>
<body>
    <div class="container">
        <h1>Puntuación</h1>
        <p id="score">Puntuación: 0</p>
        <button onclick="increaseScore(10)">Aumentar 10 Puntos</button>
        <button onclick="resetScore()">Reiniciar Puntuación</button>
    </div>

    <script src="../scripts/scores.js"></script>
</body>
</html>
